@font-face {
    font-family:'Faustina-Regular';
  src:url('https://dice2657.github.io/bacs200/Faustina-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'Faustina-Bold';
  src:url('https://dice2657.github.io/bacs200/Faustina-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'Faustina-Italic';
  src:url('https://dice2657.github.io/bacs200/Faustina-Italic.ttf') format('truetype');
}

h1 {
  font-family:'Faustina-Bold';
  font-size:30vw;
}
h2 {
  font-family:'Faustina-Regular';
  font-size:20vw;
}
h3 {
  font-family:'Faustina-Regular';
  font-size:15vw;
}
h4 {
 font-family:'Faustina-Regular';
 font-size:12vw;
}
li, p {
 font-family:'Faustina-Regular';
 font-size:10vw;
}
