@font-face {
  font-family:'Mali-Regular';
  src:url('https://dice2657.github.io/bacs200/Mali-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'Faustina-Regular';
  src:url('https://dice2657.github.io/bacs200/Faustina-Regular.ttf') format('truetype');
}
h1 {
  font-family:'Mali-Regular';
  font-size: 32px;
  color:white;
}
h2 {
  font-family:'Faustina-Regular';
  font-size:28px;
  color:white;
}
h3 {
  font-family:'Faustina-Regular';
  font-size:18px;
  color:white;
}
p {
 font-family:'Faustina-Regular';
 font-size:12px;
 color:white;
}
a {
 color:gold; 
}
ol,ul,li {
  color:gold;
}
body {
 background-color:darkblue; 
}
caption {
 font-weight:bold; 
 font-size:100px;
   }
th {
 width:200px;
 font-size:25px;
    }
th,td {
  border: 1px solid red;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
       }
table {
  border-spacing:0px;
       }
.alias {
  font-size: 36px; 
        }
      
  

