@font-face {
  font-family:'Mali-Regular';
  src:url('https://dice2657.github.io/bacs200/Mali-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'Faustina-Regular';
  src:url('https://dice2657.github.io/bacs200/Faustina-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'Faustina-Bold';
  src:url('https://dice2657.github.io/bacs200/Faustina-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'Faustina-Italic';
  src:url('https://dice2657.github.io/bacs200/Faustina-Italic.ttf') format('truetype');
}
h1 {
  font-family:'Mali-Regular';
  font-size: 32px;
  color:white;
}
h2 {
  font-family:'Faustina-Regular';
  font-size:28px;
  color:white;
}
h3 {
  font-family:'Faustina-Regular';
  font-size:20px;
  color:white;
}
p {
 font-family:'Faustina-Regular';
 font-size:16px;
 color:white;
}
a {
 color:gold; 
 text-align:center;
}
b, strong {
 font-family:'Faustina-Bold'; 
}
em {
  font-family:'Faustina-Italic';
}
ol,ul,li {
  color:gold;
}
body {
 background-color:darkblue; 
}
caption {
 font-weight:bold; 
 font-size:100px;
 color:white;
   }
th {
 width:200px;
 font-size:25px;
 color:white;
    }
th,td {
  border: 1px solid gold;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
       }
table {
  border-spacing:0px;
       }
.alias {
  font-size: 36px; 
        }
header,main,footer {
 border-style: solid;
 border-color: black;
 border-width: 2px;
}
header {
text-align: center;
width:auto;
margin:auto;
font-size: 80pt;
}
header,main {
 padding:5px;
 margin:1in;
 background-color:blue;
}
main {
 margin:auto;
}
main h2 {
 font-size:60px;
 text-align:center;
}
main ul {
display:table;
margin:0 auto;
text-align:left;
padding-left: 2px;
}
#wantedList {
 font-size:28px;
 float:right;
}
img {
 margin:auto;
 width:200px;
 height:auto;
}
main p {
 font-size: 32px;
 text-align:center;
}
footer {
 text-align:center;
 font-size: 36px;
}
tr > td {
 color:white; 
}
div {
  max-width:854px;
  position:relative;
  padding-bottom:56.25%;
}
iframe {
 position:absolute;
 left:0;
 top:0;
 width:100%;
 height:100%; 
}
      
  

