header,main,footer {
 border-style: solid;
 border-color: black;
 border-width: 2px;
}
header {
text-align: center;
width: 6in;
margin:auto;
font-size: 80pt;
}
header,main {
 padding-top:5px;
 padding-bottom:5px;
 padding-left:5px;
 padding-right:5px;
 margin-left:1in;
 margin-right:1in;
 margin-top:1in;
 margin-bottom:1in;
 background-color:red;
}
main {
 margin:auto;
}
main h2 {
 font-size:80pt;
 text-align:center;
}
main ul {
display:table;
margin:0 auto;
text-align:left;
padding-left: 2px;
}
#wantedList {
 font-size:64pt;
 float:right;
 
}
img {
 margin:auto;
 width: 496px;
}
p {
 font-size: 64pt;
}




