header,main,footer {
 border-style: solid;
 border-color: black;
 border-width: 2px;
 text-align: center;
 margin-top:1in;
 margin-bottom:1in;
 margin-left:1in;
 margin-right:1in;
}
header,main {
 padding-top:5px;
 padding-bottom:5px;
 padding-left:5px;
 padding-right:5px;
 background-color:red;
}
#wantedList {
 font-size:24pt;
 float:right;
}



