header,main,footer {
 border-style: solid;
 border-color: black;
 border-width: 2px;
}
header {
text-align: center;
width: 6in;
margin:auto;
font-size: 40pt;
}
header,main {
 padding-top:5px;
 padding-bottom:5px;
 padding-left:5px;
 padding-right:5px;
 background-color:red;
}
main {
 margin:auto;
}
main ul {
display:table;
margin:0 auto;
text-align:left;
padding-left: 2px;
}
#wantedList {
 font-size:24pt;
 float:right;
 
}
img {
 text-align:center;
 width: 496px;
}




